body 
{
   	background-image: url("AdobeStock_2258500978.jpeg");
 	background: #000000;
}

div.jumbotron
{
    text-align: center;
    font-size: 25px;
    padding-bottom: 15px;
}
hr {
	size: 40px;
}

#titleBlock {
	size: 14px;
	font-family: "Times New Roman", Times, serif;
}